*{
    margin: 0px;
    padding: 0px;
}

/* pirmary btn */
.primary-btn{
    border-radius: 5px;
    background: #E55473;
    border: 0;
    padding: 15px 30px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    width: 150px;
    cursor: pointer;
}

/* banner section start */
.banner{
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FCEEF1;
}
.banner-info{
    display: flex;
    flex-direction: column;
}
.banner-info h1{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    margin-bottom: 30px;
    max-width: 700px;
}
.banner-info p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 630px;
}

/* featured section start */
.featured-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    padding: 180px 60px  60px 150px;
}
.featured-info{
    text-align: center;
}
.featured-info h1{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.featured-info p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}
.featured-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featured-img .pink{
    height: 400px;
    width: 360px;
    background-color: #F2DEE7;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-right: 24px;
}
.featured-img .cyan{
    height: 400px;
    width: 360px;
    background-color: #D9EFF1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-right: 24px;

}
.featured-img .golden{
    height: 400px;
    width: 360px;
    background-color: #E3EBDB;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.featured-img figcaption{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 30px;
}

/* service section start */
.service-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 180px 60px  60px 150px;
    background-color: #F4F4F4;
}
