*{
    margin: 0px;
    padding: 0px;
}

/* pirmary btn */
.primary-btn{
    border-radius: 5px;
    background: #E55473;
    border: 0;
    padding: 15px 30px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    width: 150px;
    cursor: pointer;
}
.primary-btn2{
    border-radius: 5px;
    background: #E55473;
    border: 0;
    padding: 15px 30px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    cursor: pointer;
}

/* banner section start */
.banner{
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FCEEF1;
}
.banner-info{
    display: flex;
    flex-direction: column;
}
.banner-info h1{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    margin-bottom: 30px;
    max-width: 700px;
}
.banner-info p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 630px;
}

/* featured section start */
.featured-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.featured-info{
    text-align: center;
    margin-top: 100px;
}
.featured-info h1{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.featured-info p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}
.featured-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featured-img .pink{
    height: 400px;
    width: 360px;
    background-color: #F2DEE7;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-right: 24px;
}
.featured-img .cyan{
    height: 400px;
    width: 360px;
    background-color: #D9EFF1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-right: 24px;

}
.featured-img .golden{
    height: 400px;
    width: 360px;
    background-color: #E3EBDB;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.featured-img figcaption{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 30px;
    margin-bottom: 100px;
}

/* service section start */
.service-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 320px;
    margin:0 auto;
    background-color: #F4F4F4;
    margin-bottom: 100px;
}
.service-sec .ser-info{
    margin: 70px;
    text-align: center;
}
.ser-info h4{
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato;
    font-size: 16px;
}

/* discount section start */

.dis-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 620px;
    width: 100%;
    background-color: #FEF6F8;
}
.dis-sec-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dis-sec-info h1{
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    margin-bottom: 25px;
}
.dis-sec-info span{
    color: #E55473;
}
.dis-sec-info p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    margin-bottom: 30px;
}

/* new porduct section start */
.new-product{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}
..new-tree-des{
    margin-right: 70px;
}
.new-tree-des h1{
    font-family: lato;
    margin-bottom: 20px;
}
.new-tree-des p{
    font-family: lato;
}
.new-tree-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 50px;
}

/* insta section start */
.insta-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.insta-info{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.insta-info h1{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.insta-info p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}
.insta-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 220px;
    width: 130px;
    gap: 20px;
}
/* subscribe section start */
.subs-sec{
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
    background-image: url('../img/Rectangle\ 9.png');
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.subs-sec h1{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.subs-sec p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.subs-sec input{
    width: 600px;
    height: 60px;
}